.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.card-element {
    margin-bottom: 20px;
    font-size: 16px;
    color: #424770;
}

.card-element::placeholder {
    color: #aab7c4;
}

.button {
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
