
.new-arrivals {
  padding: 160px 80px;
  background: #ffffff;
  text-align: center;

  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
}

.arrivals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 60px;
}

.new-arrivals.show {
  opacity: 1;
  transform: translateY(0);
}

.new-arrivals h2 {
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
}

.new-arrivals h2::after {
  content: "";
  width: 70px;
  height: 1px;
  background: #111;
  display: block;
  margin: 25px auto 0;
}

.new-arrivals p {
  font-size: 17px;
  color: #777;
  margin-top: 25px;
  margin-bottom: 80px;
  font-weight: 300;
}

.stagger-item {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.stagger-item.show {
  opacity: 1;
  transform: translateY(0);
}