* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #f6f4ef;
  font-family: "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}